<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AppInsights.WindowsDesktop" version="2.10.42-preview" targetFramework="net472" />
  <package id="Microsoft.ApplicationInsights" version="2.10.0-beta4" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.17763.1000-preview" targetFramework="net472" />
  <package id="Nerdbank.GitVersioning" version="2.3.138" targetFramework="net472" developmentDependency="true" />
  <package id="OSVersionHelper" version="1.0.10" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0-preview4.19212.13" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0-preview4.19212.13" targetFramework="net472" />
</packages>